<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Autoenum webGUI</title>



<style>
    /* Style the body */
    body {
        font-family: Arial;
        margin: 0;
    }

    /* Header/Logo Title */
    .header {
        padding: 15px;
        text-align: left;
        background: #c70014;
        color: white;
        font-size: 20px;
    }

    /* Page Content */
    .content {
        padding: 20px;
    }
</style>
<div class="header">
    <h1>Autoenum</h1>
    <a href="/" class="btn" style="color:white;">
        <i class="fa fa-home" style="color:white;"></i>
        Home</a>
    <a href="/hosts/search" class="btn" style="color:white;">
        <i class="fa fa-search" style="color:white;"></i>
        Search</a>

        <a href="/hosts/search" class="btn" style="color:white;">
            <i class="fa fa-search" style="color:white;"></i>
            Search</a>
    <!--<p>My supercool header</p> -->
    <!--<img src="Logo.png" alt="logo" style="width:900px;height:200px;vertical-align:top">-->

</div>
</head>