<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./header.ejs") %>
</head>
<body>
   <div class="container">
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title">Search</h4>
                <div class="card-subtitle text-muted mb-2">
                    Write one search query...
                </div>


                <div class="card mt-3">
                  <div class="card-body">
                  <form action="/hosts/search" method="POST">
                      <label for="ip"><b>Search query:</b></label><br>
                    <input type="text" placeholder="CPE, IP, MAC, UUID or date" id="all_query" name="all_query"><br><br>
                    <button class="btn btn-primary" type="submit">Search</button>
                  </form>
                  </div>
              </div>



            </div>
        </div>
   </div>
</body>
</html>
